<main>
    <div class="container" style="margin-top: 30px;">
        <h5>Add symptoms</h5>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="name@example.com">
                </div>
            </div>
            <div class="col-6">
                <button class="btn btn-primary" type="button">Add</button>
            </div>
        </div>

        <!-- <input type="text" [(ngModel)]="searchterm" (keydown)="search($event)"> -->



        <h5 style="margin-top: 30px;">Symptoms Finder</h5>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                        </div>
                        <input class="form-control" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}"
                            (keyup)="searchByName()" placeholder="Search" type="text">
                    </div>
                </div>
            </div>
        </div>

        <div class="list-group users-list">
            <div *ngFor="let item of items"
                class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="row tile">
                    <!-- <div class="col-md-1 image-col">
                        <img class="image" src="{{ item.payload.doc.data().photo1 }}">
                    </div> -->
                    <div class="col-md-5 text-col">
                        <h5 class="mb-1">{{item.payload.doc.data().nameToSearch}}</h5>
                        <!-- <small>Fee - Rs. {{item.payload.doc.data().fee}}</small>
                        <small style="margin-left: 30px;">Seating Capacity -
                            {{item.payload.doc.data().seating_capacity}}</small> -->
                    </div>
                    <div class="col col-md-6 actions-col">
                        <button class="btn btn-outline-primary action" (click)="viewDetails(item)"
                            type="button">Add to List</button>

                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="row">
            <ul *ngFor="let club of clubs">
                <li>{{club.club}}</li>
                <li>{{club.country}}</li>
            </ul>
            <div *ngIf="clubs?.length < 1">
                <p>Sorry, no clubs found</p>
            </div>
        </div> -->

    </div>
</main>