:host {
    display: block;
    border: 1px solid black;
    background-color: brown;
    height: 750px;
  }
/* .container{
    background-color: aquamarine;
    height: 100%;
    width: 100%;
    
} */

/* html,body{
    height: 100%;
    width: 100%;
    background-color: blue;
} */

.full-height {
    height: 90%;
    width: 90%;
    background-color: blue;
    border: blue;
    border-width: 10px;
}
.row{
    padding-top: 100px;
    padding-left: 300px;
    align-self: stretch;
}

ng-template{
    position: relative;
    align-content: center;
}