a{
    color: white;
    text-decoration: none;
}

.container{
    background: url('../../assets/svg/welcome.svg') no-repeat;
    background-size: cover;
    padding: 150px;
}

.container2{
}
#logo {
    font-size: 2em;
}


