<div class="container-fluid">
  <div class="col-lg-12">

    <!-- 1st row -->
    <div class="row">
      <div class="col-lg-8">
        <div class="card">
          <div class="row">

            <!--First grid - Man image-->
            <div class="col-lg-3">
                <div class="card">
                  <img class="image-man" src="./assets/img/brand/man.jpg">
                </div>
            </div>
            <!--end of first grid-->

            <!--Second grid - last updates and limits-->
            <div class="col-lg-5">
              <div class="card shadow">
                    <h6>Last Health Data Update</h6>
                    <h6 style="color:red;">27.05.2020</h6>
                    <h6>Last Report Upolad</h6>
                    <h6 style="color:red;">27.05.2020</h6>
                    <hr>
                    <h6>Required Sugar level</h6>
                    <h6 style="color:rgb(175, 136, 7);">70-110 mg/dl</h6>
                    <h6>Normal Blood Pressure</h6>
                    <h6 style="color:rgb(175, 136, 7);">80-120 mmHg</h6>
              </div>
            </div>
            <!--end of second grid-->

            <!--Third grid - BMI-->
            <div class="col-lg-4">
              <div class="card shadow">
                    <h6>Weight</h6>
                    <h6 style="color:blueviolet;"><b>136 cm</b></h6>
                    <h6>Height</h6>
                    <h6 style="color:blueviolet;"><b>45 kg</b></h6>
                    <h5>BMI</h5>
                    <h4 style="color:blue;"><b>18.5</b></h4>
                    <h4 style="color:green;font-family: sans-serif;"><b>NORMAL</b></h4>
                    <!--<h6 style="color:red;">OVER WEIGHT</h6>
                    <h6 style="color:red;">UNDER WEIGHT</h6>-->
                    <h6>Normal BMI Range</h6>
                    <h6>18-22</h6>
              </div>
            </div>
            <!--end of third grid-->
          </div>
        </div>
      </div>
      <!--End of Health details-->

      <!--Calander-->
      <div class="col-lg-4">
        <div class="card shadow" id="dark">
            <div class="card shadow">
              <div class="card" id="light">
                <h6><b>Calender</b></h6>
              </div>
            </div>
            <div class="card" id="space">
              <ejs-calendar id=calendar [values]='value' [isMultiSelection]='multiselect' ></ejs-calendar>
            </div>
        </div>
      </div>
      <!--End of Calander-->
    </div>
    <!-- end of 1st row -->

    <!-- 2nd row -->
    <div class="row mainRow">
      <!--Upcomming Consultation-->
      <div class="col-lg-9">
        <div class="card shadow" id="dark">
              <div class="card">
                <div class="card" id="light">
                    <h2 style="text-align:center;"><b>Upcomming Channelling(s)</b></h2>
                  </div>    
              </div>
              <div class="row"  id="lessmargin">
                <!--First grid-->
                <div class="col-lg-4">
                  <div class="card shadow">
                      <div class="card" id="differ">
                        <img class="rounded-circle" src="./assets/img/theme/team-1-800x800.jpg">
                        <h5>Ryan Tompson</h5>
                        <h6>Cardiologist</h6>
                        <h6 class="text-primary"><b>in 15 Mins</b></h6>
                        <a href="javascript:void(0)" class="btn btn-primary mt-4">Join</a>
                      </div>
                  </div>
                </div>
                <!--Second grid-->
                <div class="col-lg-4">
                  <div class="card shadow">
                      <div class="card" id="differ">
                        <img class="rounded-circle" src="./assets/img/theme/team-1-800x800.jpg">
                        <h5>Ryan Tompson</h5>
                        <h6>Cardiologist</h6>
                        <h6 class="text-primary"><b>in 15 Mins</b></h6>
                        <a href="javascript:void(0)" class="btn btn-primary mt-4">More</a>
                      </div>
                  </div>
                </div>
                <!--Third grid-->
                <div class="col-lg-4">
                  <div class="card shadow">
                      <div class="card" id="differ">
                        <img class="rounded-circle" src="./assets/img/theme/team-1-800x800.jpg">
                        <h5>Ryan Tompson</h5>
                        <h6>Cardiologist</h6>
                        <h6 class="text-primary"><b>in 15 Mins</b></h6>
                        <a href="javascript:void(0)" class="btn btn-primary mt-4">More</a>
                      </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
      <!--End of upcomming Consultation-->

      <!--Chaneeling History-->
      <div class="col-lg-3">
        <div class="card shadow" id="dark">
              <div class="card shadow">
                  <div class="card" id="light">
                    <h6><b>Channelling History</b></h6>
                  </div>
              </div>
              <div class="card shadow" id="space">
                  <div class="card">
                    <p>Date </p><p><b>27.05.2020</b></p>
                    <p>Doctor </p><p><b>Dr.Kamal De Silva</b></p>
                  </div>
              </div>
              <div class="card shadow" id="space">
                  <div class="card">
                    <p>Date </p><p><b>01.05.2020</b></p>
                    <p>Doctor </p><p><b>Dr.Kamal De Silva</b></p>
                  </div>
              </div>
        </div>
      </div> 
      <!--End of Channeling history-->
      
    </div>
    <!-- end of 2nd row -->

  </div>
</div>