.container-fluid{
  background-color: #16d6f0;
  width: 102%;
  margin-top: -0.9%;
  height: max-content;
  margin-left: -2%;
}

.row{
  padding: 1.5%;
  align-content: center;
  min-height: max-content;
}
.mainRow{
  margin-top:30px;
}/*block 2*/

.card{
  padding: 2%;
  text-align: center;
  align-content: center;
  font-size: xx-large;
}
#dark.card{
  background-color:#a970b1;
}
#light.card{
  background-color:#dca6e4;
}
#differ.card{
  margin: 20px;
}
#space.card{
  margin-top: 10px;
}

.image-man{
  width: 150px;
  height: 350px;
  align-self: center;
}
.rounded-circle{
  width: 120px;
  align-self: center;
}

ejs-calendar{
  z-index: 3; 
  max-width: fit-content;
  min-width: fit-content;
}
@media screen and (max-width: 500px){
  .container-fluid{   
    width: 105%; 
    margin-left: -6%;
    margin-top: -6%; 
    padding-left: 0%;  
    padding-right: 0%;
  }
  .row{
    padding: 5%;
  }
  .card{
    margin-top: 10px;
  }
}
  